body{
text-align: center;
background-color: #01edb7;
margin: 0 auto;

}

 h1{
	color: #fc4600;
	font-size: 60px;
	margin: 40px 0px 0px;
	text-shadow: 1px 1px 0px #ffff00, 4px 1px 2px  black;
	padding: 1%;
}

h2{
	color: #fc4600;
	font-size: 40px;
	text-shadow: 1px 0px 0px #ffff00, 3px 2px 0px  black;

}

img{
	width: 100%;
	margin: 0 auto;
}

#countdown-wrapper{
	color: #fff;
	font-size: 30px;
	margin-top: 2%;
	position: absolute;
	text-align: center;
	margin: 0 auto;
	left: 4%;


}

#countdown-wrapper > div{
	padding:10px;
	border-radius: 3px;
	display: inline-block;
	
}

#time-wrapper > div{
	padding: 15px;
	border-radius: 15px;
	background-color: #00806b;
	display: inline-block;
}

.time-text{
	padding-top: 5px;
	font-size: 20px;
	
}
.trump-gif{
	position: relative;
	left: 1%;
	top: 15%;
	width: 20%;
	float: left;
	background-color: #00806b;

}

.hillary-gif{
	position: relative;
	right: 1%;
	top: 15%;
	width: 20%;
	padding: 1%;
	float: right;
	background-color: #00806b;
}
	
.trump{
	position: relative;
	left: 1%;
	top: 40%;
	padding: 1%;

}

.hillary{
	position: relative;
	right: 3%;
	top: 40%;
	padding: 1.5%;
}
#countdown-wrapper img{
	width: 100%;
}

#dragon-wrapper{
	position: relative;
	margin: 0 auto;
	box-sizing: border-box;

}


#dragon-wrapper h1{
	text-align: center;	
	font-size: 60px;
	color: red;
	text-shadow: 2px 2px black;
	margin: 0 auto;
}

#the-fight{
	margin: 0 auto;
	max-width: 960px;
	position: relative;
}

button{
	background-color: red;
	text-align: center;
	font-size: 20px;
	color: white;
	border-radius: 5px;
}

.dragon{
	text-align: center;
	display: inline-block;
	/*border: 2.8px solid black;*/
	position: relative;
	left: 2%;
}

.dragon-appeared{
	background-color: black;
	border-radius: 100px;
	width: 20%;
	float: right;
	color: black;
	
}
#dice{
	width: 100%;
	max-width: 70px;
	position: relative;
	display: inline-block;
	right: -20%;
	padding-top: 15%;
}

#coward{
	margin-top: -10%;	
}

.whimp{
	text-align: center;
	margin-top: -20%;
	margin-bottom: 5%;
}

#wild-dragon{
	margin-top: 1%;
}

.button{
	margin-top: 27%;
	position: relative;
	width: 200%;
	right: 40%;
}

#yourhealth{
	position: relative;
	left: 4%;
	color: white;
	float: left;
}

.health-bar{
	color: white;
	position: relative;
	left: -27%;
	margin-top: 3%;	
	font-size: 20px;
	float: left;
	width: 25%;
	background-color: #00806b;
}

span{
	color: red;
}

#whimp1{

}

#dragonhealth{
	position: relative;
	right: 1%;
	top: 17%;
	float: right;

}

.dragon-health{
	color: white;
	position: relative;
	right: 1%;
	font-size: 20px;
	float: right;
	width: 25%;
	background-color: #00806b;
}

.play-dragon-game{
	color: black;
	margin: 0 auto;
	position: relative;
	top: 0%;
	
}

#dragon-wrapper img{
	max-width: 600px;
    position: relative;
    left: 11%;
    margin-top: 2%;
    float: left;
}

h3{
	font-family: 'Indie Flower', cursive;
	margin: 1%;
	text-shadow: 3px 1px 2px black, 5px 5px 1px red, 4px 4px 1px blue;
	padding: 8%;

}

#background{
	background-color: #00806b;
}

.explosion{
	width: 100%;
	display: inline-block;
	/*background-color: black;*/
	margin-top: -10%;
}

#dragon{
	border: 2px solid black;
}

